<app-navbar></app-navbar>
<div class="container-fluid container-color">
    <div class="row">
        <div class="col-md-6 pad">
            <h1 class="solve"> Solve Problems Together </h1>
            <p class="text-para"> Using API’s should be a simple process. We <br>document API’s from the mindset of a user and<br> provide forums, wikis, and function templates for our <br>partners’ API’s. </p>
            <p class="text-para"> Our Text Editor is geared toward collaborative coding
                <br>with API’s. No more rewriting or tracking down old <br>code. </p>
        </div>
        <div class="col-md-6">
            <h1 class="collab"> Collaborative<br> Text Editor </h1>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>